* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

.damilola {
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
}

.damilola_img {
  display: block;
  width: 150px;
  height: auto;
}
.joseph {
  display:inline-flex;
  flex-direction: column;
  margin: 20px;
}
.joseph_pic {
  width: 160px;
  height: auto;
}